<div class="profile">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-6">
            <a href="profiles.html" class="btn btn-light mb-3 float-left"
              >Back To Profiles</a
            >
          </div>
          <div class="col-6"></div>
        </div>

        <!-- Profile Header -->
        {{ profile | json }}
        <app-profile-top
          [topData]="{
            avatar: profile.user?.avatar,
            name: profile.user?.name,
            status: profile.status,
            company: profile.company,
            location: profile.location
          }"
        ></app-profile-top>
      </div>
    </div>
  </div>
</div>
